{% extends 'base.html.twig' %}
{% block body %}


<div class="card">
    <h5 class="card-header">
        Bienvenue
        {{ user.username }}</h5>


    <div class="card-body">

        <ul>
            <li>
                Email :
                {{ user.email }}</li>
            <li>
                Password :
                {{ user.password }}</li>
        </ul>

        <a class="btn btn-success" href="{{path('security_registration_edit',{'id':user.id})}}">Modifier mon profile</a>
    </div>
</div>{% endblock %}
